@charset "UTF-8";
@font-face {
    font-family: 'Glory';
    src: url(fontes/Glory/Glory-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
}

:root {
    --cor01: #d1d1d1;
    --cor02: #dbdbdb;
    --cor03: #85c7f2;
    --cor04: #636363;
    --cor05: #4c4c4c;

    --fonte: 'Glory', cursive;
}

p {
    text-indent: 30px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

h1 {
    padding-top: 10px;
    font-family: var(--fonte);
    text-shadow: 1px 1px 1px black;
}

.tituloPrincipal {
    padding: 50px 0px 30px 0px;
}

h2 {
    font-family: var(--fonte);
    text-shadow: 1px 1px 1px black;
}

html {
    background-image: linear-gradient(to bottom, var(--cor03) 100px, white 900px);
}
/* Cabecalho */

header {
    background-image: linear-gradient(to bottom, white, var(--cor03));
    margin: -10px -10px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.274);
}

#apresentacao {
    display: flex;
}

#apresentacao h1:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: var(--cor05);
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.274);
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin: 0px 10px 10px 10px;
    padding: 10px 30px;
    color: white;
    transition: .25s;
}

li:hover {
    background-color: white;
    color: var(--cor03);
}

/* Conteudo */

main {
    margin: -16px auto auto auto;
    max-width: 1200px;
    min-width: 300px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.452);
    background-color: white;
}

section {
    margin: 10px;
}

#equipe {
    width: 100%;
}

#eita {
    text-align: center;
    width: 90%;
    margin: auto;
}

.img {
    width: 100%;
}

.img2 {
    width: 49.5%;
}

#imgHistoria {
    width: 100%;
}

/* rodape */

footer {
    text-align: center;
    background-color: var(--cor05);
    color: var(--cor02);
    margin: 30px -10px -20px -10px;
    padding: 10px 0px;
}

#img1 {
    width: 100%;
}